html,
body {
  font-family: 'Roboto', sans-serif;
}

#address {
  width: 50%;
  height: 30px;
}

#results {
  padding-top: 4%;
}

.centerInput {
  text-align: center;
}

#footer {
  text-align: center;
  padding-bottom: 3%;
  font-style: italic;
  padding-top: 10%;
  font-weight: bold;
}

#out {
  text-decoration: none;
  color: white;
}

#out:hover {
  color: #dc143c;
}
